* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.text-field {
    width: 300px;
    margin-bottom: 10px;
}
