@page "/"

<div class="card">
    <div class="counter">
        <span id="count">@CurrentCount</span>
    </div>
    <div class="action">
        <button class="increase" @onclick="Increase">
            Increase
        </button>
        <button class="decrease" @onclick="Decrease">
            Decrease
        </button>
    </div>
</div>
