<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/bitfoundation/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="FatemehNoroozi" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>