 @page "/login"

<div class="container">
    <div class="card product-description">
        <img src="images/logo.png" alt="ToDoApp" class="logo" />
        <p>
            The ToDoApp lets you write, organize, and prioritize your tasks.
            This way you can be more productive by registering your tasks in the ToDo App
        </p>
    </div>
    <div class="card login-form">
        <img src="images/logo-small.png" alt="ToDoApp" class="logo logo-small" />
        <h1>
            Welcome back!
        </h1>
        <form onsubmit="return false;">
            @if (ShowLoginErrorMessage)
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Error">
                    Username and password entered incorrectly.
                </BitMessageBar>
            }
            <BitTextField Type="BitBitTextFieldType.Text" @bind-Value="@UserName" Label="Username" Class="text-field" />
            <BitTextField Type="BitBitTextFieldType.Password" @bind-Value="@Password" Label="Password" Class="text-field" />
            <BitButton OnClick="Signin">
                Sign in
            </BitButton>
        </form>
    </div>
</div>

