@page "/calculator"


<div class="container">
    <div class="card">
        <div class="field">
            <input type="text" placeholder="0" @bind="@num1" />
        </div>

        <div class="field">
            <input type="text" placeholder="0" @bind="@num2" />
        </div>

        <div class="action">
            <button class="btn" @onclick="AddNumbers">+</button>
            <button class="btn" @onclick="SubtractNumbers">-</button>
            <button class="btn" @onclick="MultiplyNumbers">*</button>
            <button class="btn" @onclick="DivideNumbers">/</button>
        </div>

        <div class="field result">
            <input type="text" placeholder="0" readonly @bind="@finalresult" />
        </div>
    </div>
</div>

