
.card {
    margin: 120px auto;
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
}
 
.field {
    margin: 15px
}

input {
    padding: 10px;
    width: 350px;
    height: 30px;
    color: cornflowerblue;
    border: 2px solid #dcdcdc;
    text-align: center;
    font-size: 30px;
}
 
.field.result {
    margin-top: 75px;
}
 
.action {
    margin: 30px 0;
    text-align: center;
}

.btn {
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    line-height: 80px;
    color: cornflowerblue;
    font-size: 35px;
    cursor: pointer;
}

